body {
  background-color: #FF8C69;
}

#order-now {
  margin-top: 50px;
  margin-bottom: 50px;
}

#receipt-div {
  display: none;
}

img {
  width: 100%;
}

.well {
  width: 45%;
  height: 250px;
  margin: 2.5%;
}

button {
  margin-left: 44%;
  font-size: 25px;
  border-radius: 5px;
  background-color: green;
  color: ghostWhite;
  padding: 8px;
}
